/*
* @Author: Lenovo
* @Date:   2018-11-12 21:56:47
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-11-12 23:07:29
*/
.top{
	width: 100%;
	height: 1rem;
	background: #1296db;
	padding: 0 0.24rem;
	display: flex;
}
.top .back{
	width: 0.44rem;
	height: 0.44rem;
	background: #fff;
	border-radius: 50%;
	font-size: 0.5rem;
	margin-top: 0.22rem;
	text-align: center;
	line-height: 0.4rem;
	color: #1296db;
	margin-left: 0.16rem;
}
.top .headine{
	width: 5rem;
	height: 0.6rem;
	/* background: pink; */
	margin-top: 0.1rem;
	/* margin-left: 1.78rem; */
	margin-left: 0.2rem;
}
.headine p{
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}
.headine H6{
	font-size: 0.12rem;
	color: #a7cfed;
	text-align: center;
	font-weight: lighter;
}
.subject{
	width: 100%;
	height: 9.46rem;
	/* background: #333; */
	padding: 0 0.24rem;
	position: relative;
	overflow: hidden;
}
.subject .sub{
	width: 100%;
	height: 1.4rem;
	background: #1296db;
	border-radius: 0.2rem;
	margin-top: 0.24rem;
	display: flex;
	padding-top: 0.3rem;
}
.subject .sub img{
	width: 0.77rem;
	height: 0.77rem;
	margin-left: 0.3rem;
}
.subject .sub .zi{
	font-size: 0.3rem;
	margin-left: 0.3rem;
	color: #fff;
}
.subject .sub .yinlian{
	width: 0.46rem;
	height: 0.3rem;
	margin-left: 1.5rem;
}
.subject .sub1{
	width: 100%;
	height: 1.5rem;
	/* background: red; */
	margin-top: 0.3rem;
	padding-top: 0.15rem;
	border-bottom: 0.05rem dotted #c1c1c1;
}
.subject .sub1 .shu{
	font-size: 0.7rem;
	color: #1296db;
	font-weight: bold;
	text-align: center;
}
.subject .sub1 span{
	font-size: 0.3rem;
}
.subject .sub1 .zi{
	font-size: 0.3rem;
	color: #1296db;
	text-align: center;
	line-height: 0.2rem;
	padding-bottom: 0.3rem;
}
.fingerprint{
	margin-top: 1rem;
	margin-left: 2.2rem;
	padding: 0 0.48rem;
	width: 100%;
	height: 5rem;
	background-image: url('../img/yuanjiao.png');
	background-size: 2.6rem 2.6rem;
	background-repeat: no-repeat;
}
.zhiwen{
	margin-top: 1.2rem;
	margin-left: 2.2rem;
	padding: 0 0.48rem;
	width: 100%;
	height: 5rem;
	background-image: url('../img/zhiwen.png');
	background-size: 2rem 2rem;
	background-repeat: no-repeat;
	position: absolute;
	top: 3.5rem;
	left: 0.6rem;
}
.bottom{
	font-size: 0.35rem;
	text-align: center;
	color: #1296db;
}