/*
* @Author: Lenovo
* @Date:   2018-11-07 11:11:40
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-11-07 12:08:13
*/
/* 改变不同手机的html的字体大小 */

/* 媒体查询 屏幕宽度 （最小宽是320px） */
@media screen and (min-width: 320px){
	html{
		font-size: calc(320/750*100px);
	}
}
@media screen and (min-width: 375px){
	html{
		font-size: calc(375/750*100px);
	}
}
@media screen and (min-width: 414px){
	html{
		font-size: calc(414/750*100px);
	}
}
@media  screen and (min-width: 750px) {
	html{
		font-size: calc(750/750*100px);
	}
}
@media  screen and (min-width: 768px) {
	html{
		font-size: calc(768/750*100px);
	}
}